streamlit
pandas
numpy
Unidecode
requests
beautifulsoup4
LanusStats
selenium
matplotlib
seaborn
pillow
mplsoccer
highlight-text
scikit-learn
scipy
openpyxl
IPython
undetected-chromedriver
pyvirtualdisplay
